{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "elaine.ou_org",
      "Space": "dev"
    },
    "Name": "personality-insights-nodejs-elaineo-2224",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}